@using WebBanHang.Models;
@using PagedList.Mvc
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ IEnumerable<SanPham> lsPRoduct = (IEnumerable<SanPham>)ViewBag.ListSP;
    IEnumerable<GroupProduct> ls = (IEnumerable<GroupProduct>)ViewBag.listGroup;}

<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5> Coffee Shop Brands</h5>
                                    <p class="mt-4">
                                        Coffee Shop is a place where you can buy and learn how to make the food or drinks that Coffee Shop sells...
                                    </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="~/Home/About"> Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            
        </div>
    </div>
</section>
<!-- /main-slider -->

<section class="w3l-servicesblock py-5" id="who">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-4 about-right-faq align-self">
                <span class="title-small mb-2">Best for you</span>
                <h3 class="title-big mx-0"> Who we are.</h3>
                <p class="mt-lg-4 mt-3">
                    We created Coffee Shop to serve customers who buy online quickly with many good choices...
                </p>
                <a class="btn btn-style btn-primary mt-lg-5 mt-4" href="~/Home/About"> Learn More</a>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="title-content" style="width:100%">
                        <h5 class="title-small text-center mb-1">Coffee Cafe</h5>
                        <h3 class="title-big text-center mb-md-5 mb-4">Our GroupProduct</h3>
                    </div>
                    @Html.Partial("SanPhamPartial", ls)
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-features-8" id="products">
    <!-- /features -->
    <div class="features py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h5 class="title-small text-center">Our Services</h5>
            <h3 class="title-big text-center mb-md-5 mb-4">Our Products</h3>
            <div class="fea-gd-vv text-center row">
                @foreach (var item in Model)
                {
                    <div class="float-top col-lg-4 col-md-6" style="padding-bottom:30px;">
                        <a href="#url"><img src="@Url.Content("~/Content/images/"+item.Anh)" class="img-responsive" alt="" style="width:100%;"></a>
                        <div class="float-lt feature-gd">
                            <h3><a href="#url" style="text-align:center;">@item.ProductName</a> </h3>
                            <h6 style="float:right;"><a href="~/Product/CachCheBienPartial/@item.ProductID"><u>Xem thêm ...</u></a></h6>
                        </div>
                    </div>
                }
            </div>
            <div class="dlink">
                Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("CTSP", new { page = page }))
            </div>
        </div>
        
    </div>

    <!-- //features -->
</section>
<!-- /homeblock2-->
<section class="w3l-homeblock2 py-5" id="services">
    <div class="container py-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-5 align-self">
                <span class="title-small">Blend Coffee</span>
                <h3 class="title-big mx-0"> Our Services.</h3>
                <p class="mt-3">
                    We make the delicious coffee for the coffee lovers. We are a team of dedicated
                    coffee fans who celebrate exceptional coffee brands and roasters. Lorem ipsum viverra feugiat.
                    Pellen tesque libero ut justo, in ligula. Semper at.
                </p>
                <p class="mt-3">
                    We make the delicious coffee for the coffee lovers. We are a team of dedicated
                    coffee fans who celebrate exceptional coffee brands and roasters, ipsum dolor.
                </p>
                <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="~/Home/OurCoffee"> Read More</a>
            </div>
            <div class="col-lg-7 pl-lg-5 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-sm-6 grids-feature">
                        <div class="area-box">
                            <span class="fa fa-coffee"></span>
                            <h4><a href="#feature" class="title-head">Types of Coffee</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum sit et init laore leo et.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids-feature mt-sm-0 mt-5">
                        <div class="area-box">
                            <span class="fa fa-glass"></span>
                            <h4><a href="#feature" class="title-head">Bean Varieties</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum sit et init laore leo et.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids-feature mt-5 pt-lg-2">
                        <div class="area-box">
                            <span class="fa fa-pagelines"></span>
                            <h4><a href="#feature" class="title-head">Coffee & Pastry</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum sit et init laore leo et.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids-feature mt-5 pt-lg-2">
                        <div class="area-box">
                            <span class="fa fa-envira"></span>
                            <h4><a href="#feature" class="title-head">Coffe to go</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum sit et init laore leo et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //homeblock2-->
<!--<section class="w3l-gallery" id="gallery">
    <div class="destionation-innf py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content">
                <h5 class="title-small text-center mb-1">Coffee gallery</h5>
                <h3 class="title-big text-center mb-md-5 mb-4">Portfolio Gallery</h3>
            </div>-->
            <!--/coffee grids-grids-->
            <!--<ul class="gallery_agile">
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog1.jpg">
                            <img src="~/Content/images/blog1.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Perfect Cup</h3>
                                    <p>Cup of Coffee / Filtered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog2.jpg">
                            <img src="~/Content/images/blog2.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Baked Beans</h3>
                                    <p>Cup of Coffee / Filtered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog3.jpg">
                            <img src="~/Content/images/blog3.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Mocha</h3>
                                    <p>Filtered / Mornings</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog4.jpg">
                            <img src="~/Content/images/blog4.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Cappuccino</h3>
                                    <p>Cup of Coffee / Filtered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog5.jpg">
                            <img src="~/Content/images/blog5.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Macchiatio</h3>
                                    <p>Aroma / Filtered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog6.jpg">
                            <img src="~/Content/images/blog6.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Coffee Cup</h3>
                                    <p>Cup of Coffee / Filtered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog1.jpg">
                            <img src="~/Content/images/blog1.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3>Filtered Coffee</h3>
                                    <p>Cup of Coffee / Filtered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="w3_agile_portfolio_grid">
                        <a href="~/Content/images/blog2.jpg">
                            <img src="~/Content/images/blog2.jpg" alt=" " class="img-fluid radius-image" />
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3> Cappuccino</h3>
                                    <p>Cup of Coffee / Filtered</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>-->
            <!--//coffee grids-grids-->
        <!--</div>
    </div>
</section>-->
<!-- testimonials -->

<!-- //testimonials -->


