
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>
    .row-one {
        display: none;
    }
</style>
<div class="row-one1">
    <div class="col-md-4 widget" style="color:mediumorchid;">
        <div class="stats-left ">
            <h5>Customer</h5>
            <h4>Online</h4>
        </div>
        <div class="stats-right">
            <label> @ViewBag.SoNguoiDangOnl</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-mdl">
        <div class="stats-left">
            <h5>Customer</h5>
            <h4>Visits</h4>
        </div>
        <div class="stats-right">
            <label> @ViewBag.SoNguoiTruyCap</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-last">
        <div class="stats-left">
            <h5>Coffe cafe</h5>
            <h4>User</h4>
        </div>
        <div class="stats-right">
            <label>@ViewBag.NguoiDung</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>

</div>

<div class="row-one1" style="padding-top:50px;">
    <div class="col-md-4 widget">
        <div class="stats-left " style="width:100%;">
            <h5>Doanh thu</h5>
            <h4>@ViewBag.TongDanhThu.ToString("#,##")K</h4>
        </div>

        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-mdl">
        <div class="stats-left" style="width:100%;">
            <h5>Đơn hàng</h5>
            <h4> @ViewBag.DonHang.ToString("#,##")</h4>
        </div>

        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-last">
        <div class="stats-left" style="width:100%;">
            <h5>Sản phẩm</h5>
            <h4>@ViewBag.SanPhamTK.ToString("#,##")</h4>
        </div>

        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div class="row-one1" style="padding-top:50px;">
    <div class="col-md-4 widget" style="color:mediumorchid;">
        <div class="stats-left ">
            <h5>Coffe cafe</h5>
            <h4>Nhóm SP</h4>
        </div>
        <div class="stats-right">
            <label> @ViewBag.NhoomSanPham</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-mdl">
        <div class="stats-left">
            <h5>Coffe cafe</h5>
            <h4>Nhập hàng</h4>
        </div>
        <div class="stats-right">
            <label> @ViewBag.PhieuNhap</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 widget states-last">
        <div class="stats-left">
            <h5>Coffe cafe</h5>
            <h4>Nhà cung cấp</h4>
        </div>
        <div class="stats-right">
            <label>@ViewBag.NCC</label>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>

</div>
