@using WebBanHang.Models;
@model IEnumerable<SanPham>

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">Your favourite Drink and Food</h2>
        </div>
    </div>
</section>
<section class="team py-5" id="team">
    <div class="container py-lg-5 py-md-4 py-2">
        <h1 class="name-product">Our Product</h1>
        <a href="~/Home/OurCoffee"><img src="https://img.icons8.com/small/16/000000/exit.png" /><u>Exit</u></a>

        <div class="tab-content" id="pills-tabContent1">
            <div class="tab-pane fade show active" id="pills-team1" role="tabpanel" aria-labelledby="pills-team1-tab">
                <div class="fea-gd-vv text-center row">
                    @foreach (var item in Model)
                    {
                        <div class="float-top col-lg-4 col-md-6" id="@item.GroupProductID">
                            <a href="#url"><img src="@Url.Content("~/Content/images/"+item.Anh)" class="img-responsive" alt=""></a>
                            <div class="float-lt feature-gd">
                                <h3><a href="#url">@item.ProductName</a> </h3>
                                <p> Price: @item.Price VND</p>
                                <a href="@Url.Action("ThemGioHang","Cart", new { @productID = item.ProductID, @strURl = Request.Url.ToString() })" class="btn btn-style btn-primary mt-md-5 mt-4">Buy Now</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <a href="~/Home/OurCoffee" class="thoat"><img src="https://img.icons8.com/small/16/000000/exit.png" /><u>Exit</u></a>

    </div>
</section>


